* {
  cursor: url(x), auto !important;
}

html, body {
  font-family: oswald,sans-serif;
  overflow: hidden;
  height:-webkit-fill-available;
  width: 100%;
  background: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
  color: red;
}


h1 {
  color: red;
  font-weight:600;
  font-size: 150px;
  font-size: 1.35rem;
  font-family:Courier New, monospace
  text-decoration: unset;
}
h2, h3 {
  color: red;
  font-weight:300;
  font-size:16px;
  font-size: 1rem;
  font-family:Courier New, monospace
  text-decoration: unset;
}
a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.fade-in {
  animation: fadein 5s;
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  -o-animation: fadein 5s;
  -ms-animation: fadein 5s;
}
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
#wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
#proceed-button {
  background-color: transparent;
  border: none;
  color: red;
  position: fixed;
}
#proceed-button:hover {
  text-decoration: underline;
}
#site {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#outerCircleText {
  color: rgb(252, 252, 252);
  position: absolute;top: 0;left: 0;z-index: 3000;cursor: default;
  }
  #outerCircleText div {position: relative;}
  #outerCircleText div div {position: absolute;top: 0;left: 0;text-align: center;}